<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Info</title>
</head>
<body>
<h1>Task Info</h1>
<p>Name: <span th:text="${task.name}"></span></p>
<p>Priority: <span th:text="${task.priority}"></span></p>

<a th:href="@{/task/{id}/update(id=${task.id})}">
    <button type="button">Update Task</button>
</a>

<a th:href="@{/task/{id}/delete(id=${task.id})}"><br><br>
    <button type="button">Delete Task</button>
</a>

</body>
</html>
