<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update To-Do</title>
</head>
<body>
<h1>Update To-Do</h1>
<form action="/todo/{id}/update" method="post">
    <input type="hidden" name="_method" value="PUT">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="${todo.name}" required><br><br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="${todo.description}"><br><br>

    <button type="submit">Update</button>
</form>
</body>
</html>
